kicad-project-backups/
fp-info-cache
/eprj3/
example/kicad/kicad-project/~kicad-project.kicad_sch.lck
example/kicad/kicad-project/_autosave-kicad-project.kicad_pcb
example/kicad/kicad-project/~_autosave-kicad-project.kicad_pcb.lck
